:root {
  --c1: #4F4F4F;
  --c2: #FFFFFF;
  --c3: #dc143c;
}

body {
  font-family: 'Exo 2', sans-serif !important;
  margin: 0;
}

main {
  margin: 25px 10% 0 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  text-align: center;
}

.left {
  width: 57.5%;
  margin-right: 2.5%;
}
.left2 {
  width: 40%;
  margin-right: 2.5%;
}

.right {
  width: 40%;
}
.right2 {
  width: 57.5%;
}

.card {
  margin-top: 20px;
  background-color: var(--c1);
  color: var(--c2);
  height: 500px;
}

a img {
  width: 50px;
  margin-left: 50px;
}

img {
  width: 100%;
}

footer {
  padding: 10px 0;
  text-align: center;
  background-color: var(--c1);
  margin-top: 25px;
  color: var(--c2);
}
