

/*
 BUTTON STYLING
*/

.btn {
  position: relative;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(48, 178, 193, 0.75);
  cursor: pointer;
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.75);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.btn-two-2::before, .btn-two-2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.75);
}

.btn-two-2:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two-2:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two-2:hover::after, .btn-two-2:hover::before {
  bottom: -15px;
  left: 76px;
  width: 100px;
  height: 100px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
