


.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
}

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}

.svg-wrapper #shape {
  stroke-width: 6px;
  fill: rgba(255, 255, 255, 0);
  stroke: rgba(91, 51, 255, 1);
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

.svg-wrapper #text {
  margin-top: -35px;
  text-align: center;
}

.svg-wrapper #text input {
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: white;
  fill: rgba(91, 51, 255, 0.80);
}
